{% extends 'base.html.twig' %} 
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
          <div class="card-header">User Details</div>

          {# {% if app.user != null %} #}
         
         {{app.user}}

          {# {% endif %} #}
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}